Repository onflow/flips, pull requests merged in 2023-08, with the labels that each got.

#118 FLIP for removing type requirements
  cadence/20230711-remove-type-requirements.md
Labels: flip: cadence

#92 Account type
  cadence/20230525-account-type.md
Labels: flip: cadence

#86 Introducing built-in mutability entitlements
  cadence/20230519-built-in-mutability-entitlements.md
Labels: flip: cadence

#72 FLIP - AuthAccount Capabilities Management Standard
  application/20230223-auth-account-capability-management-standard-resources/cadence_api_child_accounts.png
  application/20230223-auth-account-capability-management-standard-resources/hybrid_custody_low_level.png
  application/20230223-auth-account-capability-management-standard-resources/linked_accounts_resources_overview.png
  application/20230223-auth-account-capability-management-standard-resources/restricted_child_accounts_high_level.png
  application/20230223-auth-account-capability-management-standard-resources/restricted_child_accounts_overview.png
  application/20230223-auth-account-capability-management-standard.md
Labels: flip: application

#132 Update AuthAccount Capability Management FLIP
  application/20230223-auth-account-capability-management-standard.md
Labels: Implemented
